.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code#
.history/

data_for_indexing.json
video_ids.txt
my_video_ids.txt
indexdir/
youtube_data/

test_module.py

__pycache__/*